# Deployer account
MNEMONIC=""
PK=""

# Custom primary compiler settings
# SOLIDITY_VERSION="0.7.6"
# SOLIDITY_SETTINGS=""

# Use the Safe Singleton Factory for singleton deployment. This is required if EIP-155 is enforced on a chain.
# CUSTOM_DETERMINISTIC_DEPLOYMENT="true"

## <Custom network name>
CUSTOM_CHAIN_ID=123456789
NODE_URL="<custom JSON-RPC node URL>"
ETHERSCAN_API_URL="<block explorer URL>"
ETHERSCAN_API_KEY="some_api_key"
