{
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "printWidth": 140,
        "tabWidth": 4,
        "useTabs": false,
        "singleQuote": false,
        "bracketSpacing": false,
        "explicitTypes": "always"
      }
    },
    {
      "files": "hardhat.config.ts",
      "options": {
        "printWidth": 100
      }
    }
  ]
}